body {
  margin: 0;
  padding: 0;
}

body.normalLayout {
  min-height: 100vh;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "header" "nav" "main" "footer";
  -ms-grid-rows: 100px 3.25rem auto 150px;
      grid-template-rows: 100px 3.25rem auto 150px;
}

body.normalLayout header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body.normalLayout header h1 {
  font-size: 3rem;
  text-align: center;
  margin: auto;
}

body.normalLayout nav {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: nav;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body.normalLayout nav section.navbar-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

body.normalLayout nav section.userWindow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body.normalLayout main {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: main;
  width: 100%;
}

body.normalLayout footer {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: footer;
}

.loginPage main {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: main;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.loginPage main .loginWindow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 5rem;
}

.loginPage main .loginWindow form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.loginPage main .loginWindow form input {
  margin-bottom: 1rem;
}

.loginPage main .loginWindow a {
  text-align: center;
}

.createAccountPage main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.createAccountPage main .createUserWindow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 5rem;
}

.createAccountPage main .createUserWindow form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.createAccountPage main .createUserWindow form input {
  margin-bottom: 1rem;
}

.createAccountPage main .createUserWindow a {
  text-align: center;
}

.productImg {
  width: 15rem;
  height: auto;
}

.adminPage main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=style.css.map */